body{
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    height: 50px;
    width: 300px;
    border-style: none;
    border-radius: 10px;
    background-color: limegreen;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition: 0.2s;
}

.button-container{
    height: 500px;
    width: 400px;
    background-color: lightgray;
    border-radius: 20px;
    border-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: darkgreen;
    transform: scale(1.05);
    cursor: pointer;
}
