body{
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    height: 50px;
    width: 300px;
    border-style: none;
    border-radius: 10px;
    background-color: darkcyan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition: 0.2s;
    text-decoration: none;
}

.button-container{
    height: 500px;
    width: 400px;
    background-color: lightgray;
    border-radius: 20px;
    border-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: cyan;
    transform: scale(1.05);
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    gap: 15px;
}
#username{
    height: 50px;
    width: 300px;
    border-style: none;
    border-radius: 10px;
    background-color: white;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#password{
    height: 50px;
    width: 300px;
    border-style: none;
    border-radius: 10px;
    background-color: white;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.button-container h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


